body {
    font-family: Verdana;
}

input {
    width: 500px;
}

.floatDiv span {
    font-size:  small;
    display:  inline-block;
    margin:  1px;
    width:  20px;
    height:  20px;
    text-align: center;
    cursor: pointer;
}

.floatSign {
    border:  2px solid #FF0000;
}

.floatExponent {
    border:  2px solid #00FF00;
}

.floatMantissa {
    border:  2px solid #0000FF;
}

.floatSelected {
    color: white;
    background: black;
}